body {background-image: linear-gradient(to right, rgb(253, 242, 229), rgb(252, 227, 239));
}

@font-face { font-family: "lovenote"; src: url('https://static.tumblr.com/4yxykdm/k6plrfhwf/ck_love_note.ttf'); 
}

@font-face { font-family: "playdate"; src: url('https://static.tumblr.com/4yxykdm/XVZlrfl3m/playdate_1_.ttf'); 
}

h1 {font-family: lovenote;
    font-size: 50px;
    color: #dcc4bc;
}

h2, h3 {font-family: playdate;
    font-size: 20px;
    color: #dcc4bc;
    letter-spacing: 5px;
}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #c3ada5;
}

.cover {background-image: url("images/grid.jpg");
          background-repeat: repeat;
          text-align: center;
          border-radius: 3rem;
          box-shadow: 0rem 0rem 2em 1.5rem #ffffff;
          border-color: #FFFFFF;
          width: 20rem;
          height: 45rem;
          position: fixed;
          left: 90px;
          top: 90px;   
}

.profile {background-image: url("images/grid.jpg");
    background-repeat: repeat;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 2em 1.5rem #ffffff;
    border-color: #FFFFFF;
    width: 50rem;
    height: 45rem;
    position: fixed;
    left:500px;
    top: 90px;   
}
/* link colors */
a:link {
    color: #d8b6b6;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:visited {
    color: #c2a6a6;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #f1cece;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: #d8b6b6;
    background-color: transparent;
    text-decoration: underline;
  }

  .link {font-size: 15px;
  }

ul span {
    position: relative;
    text-align: left;
}

ul  {font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c3ada5;
    text-align: left;
    position: relative;
    left: 300px;
}