body {    background-image: linear-gradient(to right, rgb(253, 242, 229), rgb(252, 227, 239));
}

@font-face { font-family: "lovenote"; src: url('https://static.tumblr.com/4yxykdm/k6plrfhwf/ck_love_note.ttf'); }

h1 {font-family: lovenote;
    font-size: 50px;
    color: #dcc4bc;
}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #c3ada5;
}

.profile {background-image: url("images/grid.jpg");
          background-repeat: repeat;
          text-align: center;
          border-radius: 3rem;
          box-shadow: 0rem 0rem 2em 1.5rem #ffffff;
          border-color: #FFFFFF;
          width: 20rem;
          height: 45rem;
          position: relative;
          left: 90px;
          top: 60px;   
}