body {background-image: linear-gradient(to right, rgb(253, 242, 229), rgb(252, 227, 239));
}

@font-face { font-family: "lovenote"; src: url('https://static.tumblr.com/4yxykdm/k6plrfhwf/ck_love_note.ttf'); 
}

@font-face { font-family: "playdate"; src: url('https://static.tumblr.com/4yxykdm/XVZlrfl3m/playdate_1_.ttf'); 
}

h1 {font-family: lovenote;
    font-size: 50px;
    color: #dcc4bc;
    /*gradient background: linear-gradient( -45deg, #FCE3EF, #FDF2E5);
    -webkit-text-fill-color: transparent;
    animation: 梯度 6s ease infinite;
    -webkit-background-clip: text;
    background-size: 500% 500%; */
}

h2, h3, h4 {font-family: playdate;
    font-size: 20px;
    color: #dcc4bc;
    letter-spacing: 5px;
}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #c3ada5;
}

/*left box*/
.cover {background-image: url("images/grid.jpg");
          background-repeat: repeat;
          text-align: center;
          border-radius: 3rem;
          box-shadow: 0rem 0rem 2em 1.5rem #ffffff;
          border-color: #FFFFFF;
          width: 20rem;
          height: 45rem;
          position: fixed;
          left: 90px;
          top: 90px;   
}

/*right box*/
.profile {background-image: url("images/grid.jpg");
    background-repeat: repeat;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 2em 1.5rem #ffffff;
    border-color: #FFFFFF;
    width: 50rem;
    height: 45rem;
    position: fixed;
    left:500px;
    top: 90px;   
}

/* link colors */
a:link {color: #d8b6b6;
        background-color: transparent;
        text-decoration: underline;
        padding-bottom: 2px;
        border-bottom: 1px dotted #c6a799;
}
  
a:visited {color: #c2a6a6;
           background-color: transparent;
           text-decoration: none;
}

a:hover {color: #f1cece;
        background-color: transparent;
        text-decoration: none;
}

a:active {color: #dbb6b681;
        background-color: transparent;
        text-decoration: underline;
}

.link {font-size: 15px;
  }

/*list of websites=games*/
#games  span {
    position: relative;
    text-align: left;
}

#games {font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c3ada5;
    text-align: left;
    position: relative;
    left: 300px;
}

/*navigation bar*/
#navbar  {font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c3ada5;
    text-align: center;
    position: relative;
    left: -30px;
    list-style: none;
    top: 25px;
}

/*heart symbol*/
#heart {top: 40px;
        position: relative;
        right: 11px;
        color: #dcc4bc;
}

/*image sizes*/
#balloon {width:230px;
}

#avatar {width:120px;
        border-radius: 50%;
        position: relative;
        right: 305px;
}

/*tagline*/
#tagline {font-family: lovenote;
    font-size: 50px;
    color: #dcc4bc;
    font-weight:bold;
    position: relative;
    bottom: 165px;
    letter-spacing: 3px;
}

/*profile bio*/
.bio {font-size:20px;
}